    <script type="text/javascript">
        function windowDimensions() {
            var myWidth = 0, myHeight = 0;
            if( typeof( window.innerWidth ) == 'number' ) {
                //Non-IE or IE 9+ non-quirks
                myWidth = window.innerWidth;
                myHeight = window.innerHeight;
            } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
                //IE 6+ in 'standards compliant mode'
                myWidth = document.documentElement.clientWidth;
                myHeight = document.documentElement.clientHeight;
            } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
                //IE 5- (lol) compatible
                myWidth = document.body.clientWidth;
                myHeight = document.body.clientHeight;
            }
            if (myWidth < 1) myWidth = screen.width; // emergency fallback to prevent division by zero
            if (myHeight < 1) myHeight = screen.height; 
            return [myWidth,myHeight];
        }
        var dim = windowDimensions();
        // console.log(dim[0]);
        myIframe = document.getElementById('creditReportIframe');
        myIframe.setAttribute("style","height:" + dim[1] + "px" + ";" + "width:" + dim[0] + "px" + ";" + "overflow:" + "scroll" + ";");
    </script>