/* SYS custom styles */
.thelogin li {
  list-style: none; }

.startform .col-md-12 {
  padding-left: 0; }

.solid-bg-icon {
  padding-top: 10px; }

.startbtn {
  margin-top: 20px; }

.imgfillspace {
  width: 100%; }

.thesteps {
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 15px 0;
  background: #1288D2;
  margin-bottom: 0px; }
  .thesteps li {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    background: #fff;
    border-radius: 20px; }
  .thesteps .comped {
    background: #2faee2;
    color: #fff; }
  .thesteps .todo-step {
    background: #10499B;
    color: #fff; }

.squarelist {
  list-style-type: none;
  font-size: 18px;
  padding-left: 25px; }
  .squarelist li {
    margin: 10px 0; }

.stripe-button-el span {
  padding: 12px 22px !important;
  height: 56px !important; }

.centerbtn {
  display: block;
  margin: 0 auto; }

.modal-body {
  -webkit-overflow-scrolling: auto !important;
  overflow-y: auto !important; }

.modal-dialog {
  height: 100%; }

.modal-content {
  height: 100%; }

@media (min-width: 992px) {
  .betaller {
    min-height: 800px; } }
