/* SYS custom styles */
.thelogin li {
  list-style: none; }

.startform .col-md-12 {
  padding-left: 0; }

.solid-bg-icon {
  padding-top: 10px; }

.startbtn {
  margin-top: 20px; }

.thesteps {
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 15px 0;
  background: #1288D2;
  margin-bottom: 0px; }
  .thesteps li {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    background: #fff;
    border-radius: 20px; }
  .thesteps .comped {
    background: #2faee2;
    color: #fff; }
  .thesteps .todo-step {
    background: #10499B;
    color: #fff; }

.squarelist {
  list-style-type: none;
  font-size: 18px;
  padding-left: 25px; }
  .squarelist li {
    margin: 10px 0; }

.stripe-button-el span {
  padding: 12px 22px !important;
  height: 56px !important; }

.centerbtn {
  display: block;
  margin: 0 auto; }

.creditReportIframe {
  width: 100%;
  border: 0;
  overflow-x: scroll;
  min-height: 700px; }

body.modal-open {
  overflow: hidden;
  position: fixed; }

.themodalcon {
  width: 100%;
  min-height: 700px; }

.modal {
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }
  .modal .modal-dialog {
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }
    .modal .modal-dialog .modal-content {
      overflow: scroll;
      -webkit-overflow-scrolling: touch; }
      .modal .modal-dialog .modal-content .modal-body {
        overflow: scroll;
        -webkit-overflow-scrolling: touch; }

.close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -4px;
  right: -2px; }

.dropdown-menu {
  min-width: 9rem !important; }

@media (min-width: 992px) {
  .betaller {
    min-height: 800px; } }

@media (max-width: 768px) {
  .thelogin {
    margin: 15px 0 0;
    padding-left: 0; }
  .imgfillspace {
    display: none; }
  .thesteps li {
    display: block;
    margin: 20px 30px; }
  .secure-shield {
    margin: 40px 0 0 40px; }
  .secure-shield-con {
    margin-left: 20px; } }
