/* SYS custom styles */
.thelogin {
	li {
		list-style: none;
	}
}
.banner-text {
	// text-shadow: 1px 1px 3px #ccc;
}
.startform {
	.col-md-12 {
		padding-left: 0;
	}
}
.solid-bg-icon {
	padding-top: 10px;
}